//- Restricted zone (Manage Users)

extends ../../layout

block content
  .row.user-admin__container
    .small-12.large-3.columns
      a(href="/")
        img.user-admin__logo(src="/assets/img/logo.png", alt="SD Hacks 2016")
      h2.user-admin__header Users
    .small-12.large-9.columns
      table
        tr
          th Registered
          th Name
          th Email
          th Github
          th Confirmed
        for user in users
          tr
            td #{moment(user.createdAt).fromNow()}
            td 
              a(href="/users/#{user._id}") #{user.firstName} #{user.lastName}
            td #{user.email}
            td 
              if user.github
                a(href="//github.com/#{user.github}", target="_tab") @#{user.github}
              else
                | None
            td #{user.confirmed ? "True" : "False"}